@import 'utilities.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body, html {
    overflow-x: hidden;
    }
body{
    font-family: 'poppins', 'sans-serif';
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
    height: 90vh;
    
}

.container{
    max-width:70%;
    padding: 0 15px;
    margin: 0 auto;
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media(max-width:992px){
    .container{
        max-width: 960px;
    }
    header#home{
        height: 145vh;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

.mayank .left img{
    margin-top: 3rem;
    width: 200px;
}

.mayank .right{
    color: var(--pure);
}

.mayank .right h6{
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.mayank .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.mayank .right h1 span{
    color: var(--primary);
}

.mayank .right p{
    line-height: 2.2;
    margin-bottom: 2rem;
}

section{
    padding: 6rem 0;
}

.about .about-me-image{
    /* height: 350px; */
    width: 100%;
    padding-right: 4rem;
}

.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.about h1 span{
    color: var(--primary);
}

.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.about p{
    font-family: 'Lato', 'sans-serif';
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom:  1.7rem;
}

.about .social{
    display: flex;
    
}
.social .social-img{
    max-width: 100%;
    max-height: 100%;
    padding: 0.2rem;
}
.about .social a{
    background: var(--pure);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    border-radius: 70%;
    margin-right: 0.6rem;
    transition: all .2s ease;
}
.about .social a:hover{
    background: var(--dark);
}

section.education{
    background: var(--light);
    text-align: center;
}

section.education .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 5rem;
}

section.education .container .edu-heading{
    margin-bottom:7rem ;
}

section.education .card-wrapper .card img{
    height: 60px;
   position: absolute;
   top: -6rem;
   left: 50%;
   margin-top: 2rem;
   transform: translateX(-50%);
}

section.education .card-wrapper .card h2{
    font-weight: 600;
    font-size: 1.2rem;
}

section.education .card-wrapper .card span{
    color: var(--primary);
}

section.education .card-wrapper .card p{
    line-height: 1.9;
    font-family: 'Lato', 'Sans-serif';
    color: var(--ternary);
}


section.education .card-wrapper .card h4{
    color: var(--primary);
    font-family: 'Lato', 'Sans-serif';
    font-weight: 500;
    font-size: 1.1rem;
}

section.education .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 2.5rem;
    text-align: center;
    transition: all .4s ease;
}

section.education .card-wrapper .card:hover{
    box-shadow: 0 0 7px 7px var(--ternary);
    
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 0.5;
}

.section-heading span{
    color: var(--primary);
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 6rem;
    text-align: center;

}

section.skills{
    background: var(--light);
}

section.skills .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

section.skills .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 2.5rem;
    text-align: center;
    transition: all .4s ease;
}


section.skills .card-wrapper .card img{
   height: 60px;
   position: absolute;
   top: -4rem;
   left: 50%;
   transform: translateX(-50%);
}

section.skills .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section.skills .card-wrapper .card p{
    font-family: 'Lato', 'sans-serif';
    color: var(--ternary);
    line-height: 1.6;
}

section.skills .card-wrapper .card:hover{
    background: var(--dark);

}

section.skills .card-wrapper .card:hover h2, section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}

section.trainings .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

section.trainings .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 11rem;
}

section.trainings .slider .slide a{
    text-decoration: none;
    color: var(--primary);
}

section.trainings .slider .slide p{
    font-family: 'Lato', 'sans-serif';
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.trainings .slider .slide a{
    font-size: 1rem;
}
section.trainings .slider .slide h1{
    margin-bottom: 1.5rem;
}

section.trainings .slider-dots .dots{
    list-style-type: none;
    display: flex !important;
    justify-content: center;
}

section.trainings .slider-dots{
    margin-top: 3rem;
}

section.trainings .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-out;
}

section.trainings .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}

section.experience .container .card-wrapper .card{
    background: var(--light);
    width: 30%;
    transition: all .3s ease;
    height: 40vh;
    margin-top: 2rem;
}

section.experience .container .card-wrapper .card p{
    line-height: 1.9;
}

section.experience .container .card-wrapper .card:hover{
    box-shadow: 0 0 6px 6px rgb(104, 101, 101);
   
}

section.experience .container .card-wrapper .card .sparks-logo{
    width: 30%;
}

section.experience .container .card-wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


section.experience .container .card-wrapper .card img{
    width: 12px;
}

section.projects{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 12rem;
}

section.projects .section-heading{
    color: var(--pure);
}

.container-project{
    max-width:81%;
    padding: 0 15px;
    margin: 0 auto;
}

section.projects .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

section.projects .card-wrapper .card{
    background: var(--pure);
}

section.projects .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.projects .container-project p{
    color: var(--pure);
}

section.projects .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.projects .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary);
    transition: all .3s ease;
}

section.projects .card-wrapper .card .card-content h1:hover{
    color: var(--primary);
    cursor: default;
}

section.projects .card-wrapper .card .card-content p{
    color: var(--ternary);
    font-family: 'Lato', 'sans-serif';
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.projects .card-wrapper .card .card-content a{
    font-size: 1rem;
    text-decoration: none;
    /* color: var(--primary); */
    transition: all .2s ease;
}

section.projects .card-wrapper .card .card-content a:hover{
    color: var(--primary);
    text-decoration: underline;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    width: 60px;
    margin-bottom: 1.5rem;
}

section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: .8rem;
}

section.contact .card-wrapper .card h5{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}

.top{
    margin-left: 85%;
    text-align: center;
}

.top img{
    width: 66px;
}

.top a{
    text-decoration: none;
    color: var(--primary);
}


.site-main-wrapper{
    position: relative;
}

.hamburger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.hamburger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
@media(max-width:1174px){
    .hamburger{
        display: block;
    }
    header #main-nav{
        display: none;
    }
    
.mayank .right h6{
    margin-top: 4rem;
}
header#home{
    height: 72vh;
}
}
@media(max-width:881px){
header{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 93%, 0 100%);
}
section.projects .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
   
}
section.projects {
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 98%, 0 100%);
    
}
}

@media(max-width:667px){
    .mayank .right h6{
        font-size: 1.4rem;
    }
    .mayank .right h1{
        font-size: 2rem;
    }
    section.education .card-wrapper {
        display: flex;
        flex-direction: column;
    }
    section.education .card-wrapper .card{
        margin: 2rem 2rem;
    }
    section.trainings .slider .slide img {
        width: 94px;
    }
    section.trainings .slider .slide h1 {
        font-size: 1rem;
    }
    section.trainings .slider .slide {
        padding: 0 4rem;
    }
    section.trainings .slider .slide p{
        font-size: 0.8rem;
    }
    section.skills .card-wrapper {
        display: flex;
        flex-direction: column;
    }
    section.skills .card-wrapper .card{
        margin: 2rem 2rem;
    }
    section.projects .card-wrapper{
    
        display: flex;
        flex-direction: column;

        
    }
    section.contact .card-wrapper {
        display: flex;
        flex-direction: column; 
    }
    .top img{
        width: 42px;
    }
    section.about{
        display: flex;
        justify-content: center;

    }
    section.about .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.about .container .flex-1{
        display: flex;
        justify-content: center;
    }
    section.about .container img{
        width: 50%;
        padding: 0 0;
    }
    section.about .about-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about h1{
        margin-top: 2rem;
        text-align: center;
    }
    .about h3{
        text-align: center;
    }
    .about p{
        text-align: center;
    }
    div.social{
        display: flex;
        justify-content: center;
    }
    .mayank .left {
        display: none;
        
    }
    .mayank .right h6 {
        text-align: center;
    }
    .mayank .right h1 {
        text-align: center;
    }
    .mayank .right p {
        text-align: center;
    }
    .mayank .right .cv{
        display: flex;
        justify-content: center;
    }
    header#home {
        height: 90vh;
    }
    section.contact{
        padding: 2rem 0;
    }
    section.experience .container .card-wrapper .card {
        width: 70%;
        
    }
    .top{
        margin-right: 82%;
    }
}

@media(max-width:421px){
    header#home{
        height: 120vh;
        /* width: 103%; */
    }
    .mayank .right h6 {
        margin-top: 6rem;
    }
    header#home {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 97%, 0 100%);
    }
}
@media(max-width:360px){
    header#home {
        height: 130vh;
    }
}